<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>NDK Addon Configuration</title>
    <style>
        /*On va ajouter la photo de fond */
        body {
            background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://i.ibb.co/WGTw4bV/stremio-bg.png') no-repeat fixed;
            background-size: cover;
            margin: 0;
            padding: 0;
        }
        img {
            width: 100px;
            height: 100px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
        .multipleSelection {
            width: 150px;
        }
        .selectBox {
            position: relative;
        }
        .overSelect {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }
        #languageCheckBoxes {
            display: none;
        }
        #languageCheckBoxes label {
            display: block;
        }
    </style>
</head>
<body class="backdrop-blur">
    <div id="container" style="display: flex;justify-content: center;align-items: center;">
        <form style="padding: 2rem;border-radius: 1rem" class="bg-opacity-70 bg-white dark:bg-opacity-90 dark:bg-gray-900 w-2/3 m-12">
            <img src="https://i.ibb.co/zGmkQZm/ndk.jpg" alt="logo" style="width: 250px;">
            <div>
                <h1 class="dark:text-white text-center mt-5" style="text-align: center;font-size: 1rem;">Versión {{version}}</h1>
                <h3 class="text-base font-semibold leading-7 text-gray-900 dark:text-white" style="text-align: center;font-size: 1.5rem;margin-top: 10px;">Addon configuration</h3>
                <div class="border-b border-gray-900/10 dark:border-white/50 pb-12 mt-10">
                    <!-- Debrid Information Section -->
                    <h2 class="text-base font-semibold leading-7 text-gray-900 dark:text-white">Debrid Information</h2>
                    <div class="mt-5">
                        <!-- Debrid Select: Selección del servicio -->
                        <div class="sm:col-span-3">
                            <label for="service" class="block text-sm font-medium mb-2 dark:text-white">Seleccionar servicio de Debrid</label>
                            <p class="mt-1 text-sm leading-6 text-gray-600 dark:text-gray-400">Elige el servicio de Debrid que estás usando.</p>
                            <div class="mt-2">
                                <select id="service" name="service" autocomplete="service" class="py-3 px-4 pe-9 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600">
                                    <option value="realdebrid">Real-Debrid</option>
                                    <option value="alldebrid">All-Debrid</option>
                                    <option value="premiumize">Premiumize</option>
                                </select>
                            </div>
                        </div>
                        <!-- Información adicional de Debrid (API Key) -->
                        <div class="sm:col-span-3">
                            <label for="debrid-api" class="block text-sm font-medium mb-2 dark:text-white mt-5">Debrid API Key</label>
                            <p class="mt-1 text-sm leading-6 text-gray-600 dark:text-gray-400">Introduce tu API Key de Debrid.</p>
                            <div class="mt-2">
                                <input type="text" name="debrid-api" id="debrid-api" value="" autocomplete="debrid-api" class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600" placeholder="API Key de Debrid">
                            </div>
                        </div>
                    </div>
                    <!-- TMDB Information Section -->
                    <h2 class="text-base font-semibold leading-7 text-gray-900 dark:text-white mt-5">TMDB Information</h2>
                    <div class="mt-5 space-y-10">
                        <!-- Información de TMDB -->
                        <div class="sm:col-span-3">
                            <label for="tmdb-api" class="block text-sm font-medium mb-2 dark:text-white">TMDB API Key</label>
                            <p class="mt-1 text-sm leading-6 text-gray-600 dark:text-gray-400">Introduce tu API Key de TMDB. (Si no se rellena, se usará Cinemeta)</p>
                            <div class="mt-2">
                                <input type="text" name="tmdb-api" id="tmdb-api" value="" autocomplete="tmdb-api" class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600" placeholder="API Key de TMDB">
                            </div>
                        </div>
                    </div>
                    <!-- Extra Information Section -->
                    <h2 class="text-base font-semibold leading-7 text-gray-900 dark:text-white mt-5">Extra Information</h2>
                    <div class="mt-5 space-y-10">
                        <!-- Maximum Size -->
                        <div class="sm:col-span-3">
                            <label for="maxSize" class="block text-sm font-medium mb-2 dark:text-white">Maximum Size (GB)</label>
                            <p class="mt-1 text-sm leading-6 text-gray-600 dark:text-gray-400">Set a maximum size for your results in GB.</p>
                            <div class="mt-2">
                                <input type="text" name="maxSize" id="maxSize" value="" autocomplete="maxSize" class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600" placeholder="Enter maximum size">
                            </div>
                        </div>
                        <!-- Quality Exclusion -->
                        <div class="sm:col-span-3">
                            <label class="block text-sm font-medium mb-2 dark:text-white">Quality Exclusion</label>
                            <p class="mt-1 text-sm leading-6 text-gray-600 dark:text-gray-400">Select qualities to exclude</p>
                            <div class="mt-2 space-y-2">
                                <div class="flex items-center">
                                    <input type="checkbox" id="4k" name="quality" class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600">
                                    <label for="4k" class="ml-2 text-sm dark:text-white">4k</label>
                                </div>
                                <div class="flex items-center">
                                    <input type="checkbox" id="1080p" name="quality" class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600">
                                    <label for="1080p" class="ml-2 text-sm dark:text-white">1080p</label>
                                </div>
                                <div class="flex items-center">
                                    <input type="checkbox" id="720p" name="quality" class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600">
                                    <label for="720p" class="ml-2 text-sm dark:text-white">720p</label>
                                </div>
                                <div class="flex items-center">
                                    <input type="checkbox" id="480p" name="quality" class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600">
                                    <label for="480p" class="ml-2 text-sm dark:text-white">480p</label>
                                </div>
                                <div class="flex items-center">
                                    <input type="checkbox" id="rips" name="quality" class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600">
                                    <label for="rips" class="ml-2 text-sm dark:text-white">RIPs (HDRip, WEBRip, etc.)</label>
                                </div>
                                <div class="flex items-center">
                                    <input type="checkbox" id="cam" name="quality" class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600">
                                    <label for="cam" class="ml-2 text-sm dark:text-white">CAMs (CAM, TS, etc.)</label>
                                </div>
                                <div class="flex items-center">
                                    <input type="checkbox" id="unknown" name="quality" class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600">
                                    <label for="unknown" class="ml-2 text-sm dark:text-white">Unknown</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Catalog Selector -->
                    <h2 class="text-base font-semibold leading-7 text-gray-900 dark:text-white mt-5">Seleccionar catálogos</h2>
                    <div id="catalogs-container" class="mt-5 space-y-10">
                        <div class="sm:col-span-3">
                            <div class="flex items-center justify-between mb-4">
                                <label for="id_catalogos" class="block text-sm font-medium mb-2 dark:text-white">Selecciona los catálogos:</label>
                                <button type="button" onclick="toggleSelectAll()" class="text-sm font-medium text-blue-600 dark:text-blue-400 mb-4">Seleccionar todos</button>
                            </div>
                            <div id="catalog-list" class="space-y-2">
                                {% for catalog in catalogs %}
                                <div class="dark:bg-slate-900 mb-2 py-3 px-4 select-none cursor-pointer draggable-item" draggable="true" id="catalog-{{ catalog.id }}" data-id="{{ catalog.id }}" data-index="{{ loop.index0 }}">
                                    <input class="mb-2" type="checkbox" id="{{ catalog.id }}" name="catalogos" value="{{ catalog.id }}">
                                    <label for="{{ catalog.id }}" class="dark:text-white ml-5">
                                        {% if catalog.type == 'movie' %}
                                        Películas
                                        {% elif catalog.type == 'series' %}
                                        Series
                                        {% else %}
                                        {{ catalog.type }}
                                        {% endif %}
                                        - {{ catalog.name }}
                                    </label>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!-- Botones de acción -->
                    <div class="mt-6 flex items-center justify-center gap-x-6">
                        <!-- Botón de Install -->
                        <a id="install" onclick="return getLink('link')" class="cursor-pointer rounded-md bg-black px-3 py-2 text-sm font-semibold text-white dark:text-black dark:bg-white shadow-sm hover:bg--500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Install</a>
                        <!-- Botón de Copy -->
                        <a id="copy" onclick="return getLink('copy')" class="cursor-pointer rounded-md bg-black px-3 py-2 text-sm font-semibold text-white dark:text-black dark:bg-white shadow-sm hover:bg--500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Copy</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
<script src="/static/config.js"></script>
</html>
